<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honey.domain.emall.dao.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.honey.domain.emall.dao.entity.OrderInfoDO">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_time" property="orderTime" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="pay_month" property="payMonth" />
        <result column="order_emt" property="orderEmt" />
        <result column="plus" property="plus" />
        <result column="unionid" property="unionid" />
        <result column="kepler_customer_info" property="keplerCustomerInfo" />
        <result column="sub_union" property="subUnion" />
        <result column="mall_source" property="mallSource" />
        <result column="update_time" property="updateTime" />
        <result column="commission_status" property="commissionStatus" />
        <result column="create_time" property="createTime" />
        <result column="finish_time" property="finishTime" />
        <result column="recharge_time" property="rechargeTime" />
        <result column="recharge_status" property="rechargeStatus" />
        <result column="estimate_recharge_time" property="estimateRechargeTime" />
        <result column="order_pull_source" property="orderPullSource" />
        <result column="kpl_share_user_id" property="kplShareUserId" />
        <result column="rebate_commodity_num" property="rebateCommodityNum" />
        <result column="trade_id" property="tradeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, order_time, user_id, status, pay_month, order_emt, plus, unionid, kepler_customer_info, sub_union, mall_source, update_time, commission_status, create_time, finish_time, recharge_time, recharge_status, estimate_recharge_time, order_pull_source, kpl_share_user_id, rebate_commodity_num, trade_id
    </sql>

</mapper>
